body {
  margin: 20px;
  padding: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

h1 {
  text-align: center;
  font-size: 24px;
  padding: 0 0 20px;
  margin: 0;
  color: rgb(58, 58, 58);
}

table {
  border-spacing: 0;
  border: 1px solid black;
}

tr:last-child > td {
  border-bottom: 0;
}

th {
  font-weight: bold;
}

th,
td {
  margin: 0;
  padding: 0.5rem;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

td:last-child, th:last-child {
  border-right: 0;
}

div.form {
  width: 50%;
  margin: auto;
}

h2 {
  text-align: center;
}

label {
  display: block;
  margin: 0.5em auto;
}

label > span {
  display: inline-block;
  width: 10em;
}

input.cancel, input.submit {
  margin: 1em;
  font-size: 1.2em;
}

input.cancel {
  color: red;
}

input.submit {
  color: blue;
}
